<!-- MODAL -->
<div class="modal fade text-left" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" style="display: none;" aria-hidden="true">
    <div class="modal-dialog {{ size }}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">{{ title }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_body %}

                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->