<!DOCTYPE html>
<html class="loading" lang="ru" data-textdirection="ltr">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">

    <title>{{ HEADER_TITLE.title }}</title>

    <link rel="apple-touch-icon" href="/admin/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/admin/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    {% include "to-include/script-header.twig" %}

    {% block head %}{% endblock %}
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">

{% include 'to-include/fixed-top.twig' %}
{% include 'to-include/main-menu.twig' %}

{% block body %}{% endblock %}


{% embed 'blocks/footer.twig' %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endembed %}

{% include "to-include/script-footer.twig" %}

{% block css_bottom %}{% endblock %}
{% block script_bottom %}{% endblock %}

<script>
    $(document).ready(function () {
        $("a[href='" + location.pathname + "']")
            .parent()
            .attr('class', 'nav-item open active');


        document.title = $('.content-header-left h3').text();
    });
</script>
</body>
</html>